<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599567099709-e72sgi5p8erdu4qqcpkudgcjc09k002p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599567099709-e72sgi5p8erdu4qqcpkudgcjc09k002p</string>
	<key>API_KEY</key>
	<string>AIzaSyACP-_UgUkL4UwE1iSDpKBWExFiBIG1M1E</string>
	<key>GCM_SENDER_ID</key>
	<string>599567099709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sgelves.meli-assesment</string>
	<key>PROJECT_ID</key>
	<string>meli-assesment</string>
	<key>STORAGE_BUCKET</key>
	<string>meli-assesment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599567099709:ios:63159b7a8ee5b88c798754</string>
</dict>
</plist>